node_red_flow.txt
[{"id":"a0975d87.6a92e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bf0da7f4.3a5108","type":"ui_form","z":"a0975d87.6a92e","name":"","label":"","group":"30eb0a14.e35c76","order":0,"width":0,"height":0,"options":[{"label":"Aadult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"number","required":true,"rows":null},{"label":"Measles ","value":"f","type":"number","required":true,"rows":null},{"label":"BMI","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"k","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":59,"y":351,"wires":[["1d7f6dbe.353d12"]]},{"id":"1d7f6dbe.353d12","type":"function","z":"a0975d87.6a92e","name":"pre token","func":"//make user given values as global variables\n\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\n \n\n\n//following are required to receive a token\nvar apikey=\"avjbCOV6Z8Hxr1XVH7nLMxHCiRZQgxCzbxeVFiUvL5-0\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":123,"y":215,"wires":[["d651b0c7.d2839"]]},{"id":"5b0d5bf3.a473a4","type":"http request","z":"a0975d87.6a92e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/2ab7b010-c133-4b00-a889-7214c3c52245/deployments/c5b69787-57e3-4858-a417-bd4ff06ce78e/online","tls":"","persist":false,"proxy":"","authType":"","x":417,"y":225,"wires":[["cf5e0ed2.b7eb7","819481fa.9fa48"]]},{"id":"278978c4.cf51c8","type":"debug","z":"a0975d87.6a92e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":745,"y":53,"wires":[]},{"id":"819481fa.9fa48","type":"function","z":"a0975d87.6a92e","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":534,"y":89,"wires":[["278978c4.cf51c8","719e25ba.b6fc9c"]]},{"id":"cf5e0ed2.b7eb7","type":"debug","z":"a0975d87.6a92e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":578,"y":302,"wires":[]},{"id":"7adb8e68.a7709","type":"function","z":"a0975d87.6a92e","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"2ab7b010-c133-4b00-a889-7214c3c52245\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\n\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\n\n\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[ 'Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population',' thinness  1-19 years', ' thinness 5-9 years',\n       'Income composition of resources', 'Schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":292,"y":303,"wires":[["5b0d5bf3.a473a4"]]},{"id":"d651b0c7.d2839","type":"http request","z":"a0975d87.6a92e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":240,"y":75,"wires":[["7adb8e68.a7709"]]},{"id":"719e25ba.b6fc9c","type":"ui_text","z":"a0975d87.6a92e","group":"30eb0a14.e35c76","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":739,"y":122,"wires":[]},{"id":"30eb0a14.e35c76","type":"ui_group","z":"","name":"Default","tab":"6cce1a4c.8d1034","order":1,"disp":true,"width":"6","collapse":false},{"id":"6cce1a4c.8d1034","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]